<a href="/">back</a>

<h1><%= composer.get('fullname') %></h1>
<p>birth: <%= composer.getBirthYear() %></p>
<p>death: <%= composer.getDeathYear() %></p>

<% if (wiki) { %>
<h2>About</h2>
<article>
    <p><%= wiki.content %></p>
    <p>source: <a href="<%= wiki.source_url %>"><%=  wiki.source_name %></a></p>
</article>
<% } %>

<h2>Categories</h2>
<ul>
    <% categories.forEach(function(cat, i) { %>
    <li><a href="<%= global.helpers.url({ categoryUri: cat.get('uri') }) %>"><%= cat.get('name') %></a></li>
    <% }) %>
</ul>

<h2>Opuses</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Scores available</th>
    </tr>
    <% composer.get('opuses').forEach(function(opus, i) { %>
    <tr>
        <td><%= opus.get('identifier') %></td>
        <td><a href="<%= global.helpers.url({ composerUri: composer.get('uri'), opusUri: opus.get('uri') }) %>"><%= opus.get('name') %></a></td>
        <td><%= opus.get('scores').length %></td>
    </tr>
    <% }) %>
</table>

<% if (twitts) { %>
<h2>Comments</h2>
<ul>
    <% twitts.forEach(function(twitt, i) { %>
    <li>
        <img src="<%= twitt.thumbnail_url %>" />
        <a href="<%= twitt.link_url %>">@<%= twitt.username %></a>
        <span><%= twitt.text %></span>
    </li>
    <% }) %>
</ul>
<% } %>

<% if (composer.get('images').length) { %>
<h2>Images</h2>
<ul>
    <% composer.get('images').forEach(function(imgSrc, i) { %>
    <li><img src="<%= imgSrc %>"/></li>
    <% }) %>
</ul>
<% } %>
