<h1>
    <%= opus.get('name') %> by 
    <a href="/<%= opus.get('composer.uri') %>" rel="author"><%= opus.get('composer.fullname') %></a>
</h1>

<h2>Details</h2>
<ul>
    <li>identifier: <%= opus.get('identifier') %></li>
    <li>periods:
        <ul>
            <% opus.get('periods').forEach(function(period, i) { %>
            <li><a href="/periods/<%= period.get('uri') %>"><%= period.get('name') %></a></li>
            <% }) %>
        </ul>
    </li>
</ul>

<h2>Periods</h2>

<h2>Scores</h2>
<ul>
    <% scores.forEach(function(score, i) { %>
    <li>
        <a href="/<%= opus.get('composer.uri') %>/<%= opus.get('uri') %>/<%= score.get('uri') %>"><%= score.get('name') %></a>
        <ul>
            <% if (score.get('part')) { %>
            <li>part: <%= score.get('part') %></li>
            <% } %>
            <% if (score.get('arrangement')) { %>
            <li>arrangement_by: <%= score.get('arrangement_by') %></li>
            <% } %>
            <% if (score.get('cadenza')) { %>
            <li>cadenza: <%= score.get('cadenza') %></li>
            <% } %>
            <% if (score.get('handwritten')) { %>
            <li>handwritten: <%= score.get('handwritten') %></li>
            <% } %>
            <% if (score.get('format')) { %>
            <li>format: <%= score.get('format') %></li>
            <% } %>
            <% if (score.get('instruments').length) { %>
            <li>instruments: 
                <ul>
                    <% score.get('instruments').forEach(function(instrument, i) { %>
                    <li><a href="/instruments/<%= instrument.get('uri') %>"><%= instrument.get('name') %></a></li>
                    <% }) %>
                </ul>
            </li>
            <li>
                preview:
                    <img src="http://www.pdf-scores.com/previews/<%= opus.get('composer.uri') %>/<%= opus.get('_crawler_id') %>/<%= score.get('_crawler_id') %>.jpg" width="300" />
            </li>
            <% } %>
        </ul>
        <code><%= score.get('_crawler_file_path') %></code>
    </li>
    <% }) %>
</ul>
