<a href="/">back</a>

<h1><%= composer.get('fullname') %></h1>
<p>birth: <%= composer.getBirthYear() %></p>
<p>death: <%= composer.getDeathYear() %></p>

<h2>About</h2>
<% _(composer.get('wiki')).each(function(wiki, i) { %>
<article>
    <p><%= wiki.content %></p>
    <p>source: <a href="<%= wiki.source_url %>"><%=  wiki.source_name %></a></p>
</article>
<% }) %>

<h2>Categories</h2>
<ul>
    <% composer.get('categories').forEach(function(cat, i) { %>
    <li><a href="/composers/<%= cat.get('uri') %>"><%= cat.get('name') %></a></li>
    <% }) %>
</ul>

<h2>Opuses</h2>
<ul>
    <% composer.get('opuses').forEach(function(opus, i) { %>
    <li><a href="/<%= composer.get('uri') %>/<%= opus.get('uri') %>"><%= opus.get('name') %> (<%= opus.get('scores').length %>)</a></li>
    <% }) %>
</ul>

<h2>Images</h2>
<% (composer.get('images')||[]).forEach(function(img, i) { %>
<p><img src="<%= img %>"/></p>
<% }) %>
