<h1>
    <%= opus.get('name') %> by 
    <a href="<%= global.helpers.url({ composerUri: opus.get('composer.uri') }) %>" rel="author"><%= opus.get('composer.fullname') %></a>
    <br /><strong><%= opus.get('identifier') %></strong>
</h1>

<ul>
    <% opus.get('periods').forEach(function(period, i) { %>
    <li class="primary label"><a href="<%= global.helpers.url({ periodUri: period.get('uri') }) %>"><%= period.get('name') %></a></li>
    <% }) %>
</ul>

<h2>Scores</h2>
<table class="row">
    <tr class="twelve columns row">
        <th class="three columns">Preview</th>
        <th class="two columns">Part</th>
        <th class="three columns">Additional Info</th>
        <th class="two columns">Instruments</th>
        <th class="two columns">Links</th>
    </tr>
    <% scores.forEach(function(score, i) { %>
    <tr>
        <!--a href="<%= global.helpers.url({ composerUri: opus.get('composer.uri'), opusUri: opus.get('uri'), scoreUri: score.get('uri') }) %>"><%= score.get('name') %></a-->
        <td class="three columns">
            <img src="http://www.pdf-scores.com/previews/<%= opus.get('composer.uri') %>/<%= opus.get('_crawler_id') %>/<%= score.get('_crawler_id') %>.jpg" width="180" />
        </td>
        <td class="two columns">
            <%= score.get('part') || '-' %>
        </td>
        <td class="three columns">
            <ul>
                <li>Arrangement: <%= score.get('arrangement_by') || 'no'  %></li>
                <li>Cadenza: <%= score.get('cadenza') || 'no' %></li>
                <li>Handrwitten: <%= score.get('handwritten') ? 'yes' : 'no' %></li>
            </ul>
        </td>
        <td class="two columns">
            <ul>
                <% score.get('instruments').forEach(function(instrument, i) { %>
                <li><a href="<%= global.helpers.url({ instrumentUri: instrument.get('uri') }) %>"><%= instrument.get('name') %></a></li>
                <% }) %>
            </ul>
        </td>
        <td class="two columns">
            <div class="medium metro rounded btn download primary">
                <a href="http://www.pdf-scores.com/downloads/<%= opus.get('composer.uri') %>/<%= opus.get('_crawler_id') %>/<%= score.get('_crawler_id') %>.pdf"><i class="icon-download"></i> <%= score.get('format').toUpperCase() %> </a>
            </div>
            <br />
        </td>
    </tr>
    <% }) %>
</table>
<hr />

<% if (videos) { %>
<h2>Related videos</h2>
<div>
    <% videos.forEach(function(video, i) { %>
    <!--li>
        <img src="<%= video.thumbnail_url %>" />
        <a href="<%= video.link_url %>"><%= video.title %></a>
    </li-->
    <% if (i>3) { return; } %>
    <%= !(i%2) ? '</div><br /><div class="row">' : '' %>
    <div class="six columns">
        <article class="youtube video">
            <iframe width="380"
                    height="240"
                    src="http://www.youtube.com/embed/<%= video.youtube_id %>"
                    frameborder="0"
                    allowfullscreen
                    webkitAllowFullScreen
                    mozallowfullscreen>
            </iframe>
        </article>
    </div>
    <% }) %>
</div>
<% } %>

