<h1>
    <%= opus.get('name') %> by 
    <a href="<%= global.helpers.url({ composerUri: opus.get('composer.uri') }) %>" rel="author"><%= opus.get('composer.fullname') %></a>
    <br /><strong><%= opus.get('identifier') %></strong>
</h1>

<ul>
    <% opus.get('periods').forEach(function(period, i) { %>
    <li class="primary label"><a href="<%= global.helpers.url({ periodUri: period.get('uri') }) %>"><%= period.get('name') %></a></li>
    <% }) %>
</ul>

<h2>Scores</h2>
<table>
    <tr>
        <th>Preview</th>
        <th>Part</th>
        <th>Arrangement</th>
        <th>Cadenza</th>
        <th>Handwritten</th>
        <th>Format</th>
        <th>Instruments</th>
        <th>Download link</th>
    </tr>
    <% scores.forEach(function(score, i) { %>
    <tr>
        <!--a href="<%= global.helpers.url({ composerUri: opus.get('composer.uri'), opusUri: opus.get('uri'), scoreUri: score.get('uri') }) %>"><%= score.get('name') %></a-->
        <td>
            <img src="http://www.pdf-scores.com/previews/<%= opus.get('composer.uri') %>/<%= opus.get('_crawler_id') %>/<%= score.get('_crawler_id') %>.jpg" height="60" />
        </td>
        <td>
            <%= score.get('part') || '' %>
        </td>
        <td>
            <%= score.get('arrangement_by') || 'no'  %>
        </td>
        <td>
            <%= score.get('cadenza') || 'no' %>
        </td>
        <td>
            <%= score.get('handwritten') ? 'yes' : 'no' %>
        </td>
        <td>
            <%= score.get('format') %>
        </td>
        <td>
            <ul>
                <% score.get('instruments').forEach(function(instrument, i) { %>
                <li><a href="<%= global.helpers.url({ instrumentUri: instrument.get('uri') }) %>"><%= instrument.get('name') %></a></li>
                <% }) %>
            </ul>
        </td>
        <td>
            <a href="http://www.pdf-scores.com/downloads/<%= opus.get('composer.uri') %>/<%= opus.get('_crawler_id') %>/<%= score.get('_crawler_id') %>.pdf">Download</a>
        </td>
    </tr>
    <% }) %>
</table>
<hr />

<% if (videos) { %>
<h2>Related videos</h2>
<div>
    <% videos.forEach(function(video, i) { %>
    <!--li>
        <img src="<%= video.thumbnail_url %>" />
        <a href="<%= video.link_url %>"><%= video.title %></a>
    </li-->
    <%= !(i%3) ? '</div><hr/><div class="row">' : '' %>
    <div class="four columns">
        <article class="youtube video">
            <iframe width="200"
                    height="180"
                    src="http://www.youtube.com/embed/<%= video.youtube_id %>"
                    frameborder="0"
                    allowfullscreen
                    webkitAllowFullScreen
                    mozallowfullscreen>
            </iframe>
        </article>
    </div>
    <% }) %>
</div>
<hr />
<% } %>

