<h1><%= instrument.get('name').ucWords() %></h1>
<!-- img class="polaroid image" src="/api/image/<%= instrument.get('uri') %>.jpg" / -->

<div class="ad ad728x90 valign-top">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-4000671410563799";
    /* damusiq - instrument detail - skycraper horizontal */
    google_ad_slot = "5591422019";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>

<h2>Relevant Scores</h2>
<ul>
    <% random_scores.forEach(function(score, i) { %>
    <li>
        <%= score.get('composer.fullname')%> - <a href="<%= global.helpers.url({ composerUri: score.get('composer.uri'), opusUri: score.get('opus.uri'), scoreId: score.get('_id').toString() }) %>"><%= score.get('name') %></a> - 
        <% score.get('instruments').forEach(function (instr) { %>
            <a class="<%= instr.get('name') === instrument.get('name') ? 'primary' : 'secondary' %> label"
                href="<%= global.helpers.url({ instrumentUri: instr.get('uri') }) %>"><%= instr.get('name') %></a>
        <% }) %>
    </li>
    <% }) %>
</ul>
