<h1>Results for <strong><%= q %></strong></h1>

<div class="row">
    <div class="twelve columns ad ad728x90 valign-top">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4000671410563799";
        /* damusiq - search - skycraper horizontal */
        google_ad_slot = "9858341215";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>

<ul>
    <% results.forEach(function(result, i) { %>
        <% if ('composer-category' === result.type) { %>
        <li><i class="icon-users"></i><a href="<%= result.url %>"><%= result.name %></a> (<%= result.count %> composers)</li>
        <% } else if ('composer' === result.type) { %>
        <li><i class="icon-user"></i><a href="<%= result.url %>"><%= result.name %></a></li>
        <% } %>
    <% }) %>
</ul>
