<h1>About</h1>
<p>
<strong>Damusiq</strong>.com is a social web application for music enthusiasts.  Damusiq offers a full library of free music scores, all of them non-licensed or under the <a href="http://creativecommons.org/">Creative Commons licenes</a>.</p>
<p>
Damusiq has also a set of useful tools for music students in order to perform advanced searches and to explore the content in different ways, such as by instrument, historical period, and special categories.</p>
<p>
Damusiq provides also a revolucionary way to understand the music history through timelines.  We offer for each specific composer's category, a complete timeline with useful information in context.</p>

<p>Damusiq is growing faster, we are improving day by day, and we hope that <strong>Damusiq</strong> will be your main choice teh next time you find for music scores.</p>
