<h1><%= title.ucWords() %> composers</h1>
<h2><%= period.get('from_year') %> - <%= period.get('to_year') %></h2>

<p><%= period.get('description') %></p>
<p><a href="<%= period.get('wiki_url') %>" target="_blank">Read more at Wikipedia</a></p>

<hr />

<h3>Full <%= period.get('name') %> Composers list</h3>
<ul>
    <% composers.forEach(function(composer, i) { %>
    <li><i class="icon-user"></i><a href="<%= global.helpers.url({ composerUri: composer.get('uri') }) %>"><%= composer.get('fullname') %></a></li>
    <% }) %>
</ul>


