.dropdown-menu {
    position: absolute;
    display: block;
    z-index: 100;
    width: 400px;
    background: #fafafa;
    margin: 0 0 0 10px;
    box-shadow: 0 2px 10px -4px;
    -webkit-box-shadow: 0 2px 10px -4px;
    -moz-box-shadow: 0 2px 10px -4px;
    -o-box-shadow: 0 2px 10px -4px;
    -ms-box-shadow: 0 2px 10px -4px;
}

.dropdown-menu > li {
    display: block;
    width: 100%;
    text-indent: 20px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu > li > a {
    display: block;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    margin: 0;
}

.dropdown-menu > li.active > a {
    background: #f2f2f2;
}

header {
    border-bottom: 1px solid #000;
}

.hp-header {
    position: relative;
    z-index: -1;
    height: 400px;
    width: 100%;
    background: url(images/header-bg-1.jpg);
    margin: -1.5em 0 0;
}

.hp-header h1 {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.6em;
}

footer.row {
    font-size: 0.7em;
    background: #fafafa;
    margin-top: 3em;
    padding: 1em;
}
