.no-touch .navbar ul li:hover .dropdown .dropdown { /* gumby bugfix */
    max-height: none !important;
    box-shadow: 0 2px 10px -4px !important;
    -webkit-box-shadow: 0 2px 10px -4px;
    -moz-box-shadow: 0 2px 10px -4px;
    -o-box-shadow: 0 2px 10px -4px;
    -ms-box-shadow: 0 2px 10px -4px;
}

.dropdown-menu {
    position: absolute;
    display: block;
    z-index: 100;
    width: 400px;
    background: #fafafa;
    margin: 0 0 0 10px;
    box-shadow: 0 2px 10px -4px;
    -webkit-box-shadow: 0 2px 10px -4px;
    -moz-box-shadow: 0 2px 10px -4px;
    -o-box-shadow: 0 2px 10px -4px;
    -ms-box-shadow: 0 2px 10px -4px;
}

.dropdown-menu > li {
    display: block;
    width: 100%;
    text-indent: 20px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu > li > a {
    display: block;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    margin: 0;
}

.dropdown-menu > li.active > a {
    background: #f2f2f2;
}

header {
    border-bottom: 1px solid #000;
}

.main-homepage .hp-header {
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 100%;
    background: #000 url(images/header-bg-2.jpg) center top no-repeat;
    background-size: 100%;
    top: 20px;
    left: 0;
    right: 0;
    height: 500px;
    box-shadow: 0 0 100px 90px #000 inset;
    -webkit-box-shadow: 0 0 100px 90px #000 inset;
    -moz-box-shadow: 0 0 100px 90px #000 inset;
    -o-box-shadow: 0 0 100px 90px #000 inset;
    -ms-box-shadow: 0 0 100px 90px #000 inset;
}


@media screen and (max-width: 916px) {
    .main-homepage .hp-header {
        background-size: auto;
    }
}

.main-homepage .hp-header h1 {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.4em 0.6em;
    text-shadow: 10px 0 8px #000;
}

.main-homepage .social-slot {
    position: relative;
    float: right;
    width: 100%;
    color: #f2f2f2;
    min-height: 460px;
    margin: 1em 0 0;
}

.main-homepage .social-slot .fb-like {
    margin: 0 0.5em;
}

footer.row {
    font-size: 0.7em;
    background: #fafafa;
    margin-top: 4em;
    padding: 1em;
    border-top: 1px solid #ccc;
}

table tr th {
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: bold;
}
table tr + tr {
    border-top: 1px solid #ccc;
}
table tr + tr td {
    padding-top: 1em;
    padding-bottom: 1em;
}
table tr + tr:hover {
    background: #f2f2f2;
}
